.page-wrapper
{
}

.navbar-nav>li>a
{
    cursor: pointer;
}
@media screen and (orientation: landscape)
{
	.navbar-nav>.active>a
	{
		background-image: linear-gradient( to bottom, #FFABAB, #ff7b7b) !important;
		border-radius: 20%;
	}
}
@media screen and (orientation: portrait)
{
	.navbar-nav>.active>a
	{
		background-image: linear-gradient( to bottom, #FFABAB, #ff7b7b) !important;
		border-radius: 0%;
	}
}

#bottom-content
{
    perspective: 2000px;
}

@media screen and (orientation: landscape)
{
    .billboard
    {
        position: relative;
        width: 94vw;
        height: 84vh;
        margin-top: 12vh;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #383838;
        border-radius: 2% / 3%;
        box-shadow: 0px 5px 5px 2px #4C4C4C;
        transform-style: preserve-3d;
        transition: transform 2.0s;
        transform: rotateY(6deg);
		backface-visibility: visible;
    }
}
@media screen and (orientation: portrait)
{
    .billboard
    {
        position: relative;
        width: 94vw;
        height: 88vh;
        margin-top: 8vh;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #383838;
        border-radius: 2% / 3%;
        box-shadow: 0px 5px 5px 2px #4C4C4C;
        transform-style: preserve-3d;
        transition: transform 2.0s;
        transform: rotateY(6deg);
		backface-visibility: visible;
    }
}

.billboard-content
{
    position: absolute;
    /*top: 3%;*/
    /*left: 2%;*/
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, white, #E9E9E9);
    /*background-color: white;*/
    border-radius: 2% / 3%;
    /*border: 1px solid #383838;*/
    overflow-y: auto;
    backface-visibility: hidden;
    padding: 0;
}

.billboard-content a
{
    color: black;
    text-decoration: underline;
}

.billboard-content>.row
{
    width: 100%;
    border-radius: 2% / 3%;
}

.billboard .back
{
    transform: rotateY(180deg);
}

.flip-horiz
{
    transform: rotateY(186deg);
}

.card-collection {
  width: 90vw;
  height: 8vw;
  /*border: 1px solid black;*/
  /*margin-left: 2vw;*/
  perspective: 600px; 
  margin: 4vh auto;
}

.card {
  display: inline-block;
  height: 100%;
  width: 4.8%;
  margin: 0 .1%;
  transform-style: preserve-3d;
  float: left;
  border: .5px solid black;  
  box-sizing: border-box;
  border-radius: 10%;
  box-shadow: 0px 5px 5px 2px #4C4C4C;
}

.card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    text-align: center;
}

.card-content p {
    left: 0;
    right: 0;
    margin: 50% auto;
    font-size: 3vw;
}

.card .card-front {
  background-color: white;
  backface-visibility: hidden;
}

.card .card-back {
  background-color: white;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card-flip {
  animation-name: flip;
  animation-duration: 1.6s;
}

.card-flipped {
  transform: rotateY(180deg);
}

@keyframes flip {
  0% {
    transform: scale(1,1)  rotateY(0);
    ms-transform: scale(1,1)  rotateY(0);
  }
  20% {
    transform: scale(1.3,1.3);
    ms-transform: scale(1.3,1.3);
  }
  60% {
    transform: scale(1.3,1.3)  rotateY(180deg);
    ms-transform: scale(1.3,1.3)  rotateY(180deg);
  }
  100% {
    transform: scale(1,1) rotateY(180deg);
    ms-transform: scale(1,1) rotateY(180deg);
  }
}

.card-flipback {
  animation-name: flipback;
  animation-duration: 1.6s;
}

@keyframes flipback {
  0% {
    transform: scale(1,1) rotateY(180deg);
  }
  20% {
    transform: scale(1.3,1.3) rotateY(180deg);
  }
  60% {
    transform: scale(1.3,1.3);
  }
  100% {
    transform: scale(1,1);
  }
}

.card-collection
{
    margin-top: 13vh;
}

@media screen and (orientation: landscape)
{
	#splash
	{
		overflow-x: hidden;
		background-image: url('img/splash_landscape.jpg');
		background-size: cover;
	}
}
@media screen and (orientation: portrait)
{
	#splash
	{
		overflow-x: hidden;
		background-image: url('img/splash_portrait.jpg');
		background-size: cover;
	}
}
@media screen and (orientation: landscape)
{
	#introduction>.card-big-left-up
	{
		background-image: url('img/intro.jpg');
		backface-visibility: hidden;
	}
}
@media screen and (orientation: portrait)
{
	#introduction>.card-big-left-up
	{
		background-image: url('img/intro.jpg');
		background-position: 50%;
		backface-visibility: hidden;
	}
}

#skills>.card-big-left-up
{
    background-image: url('img/skills.jpg');
	backface-visibility: hidden;
}
#projects>.card-big-left-up
{
    background-image: url('img/projects.jpg');
	backface-visibility: hidden;
}
#experience>.card-big-left-up
{
    background-image: url('img/experience.jpg');
	backface-visibility: hidden;
}
#contact>.card-big-left-up
{
    background-image: url('img/contact.jpg');
	backface-visibility: hidden;
}
.card-big-left-up>img
{
	position: absolute;
	top: 50%;
	left: 50%;
}

/*Trading-card styling covering the entire billboard element (landscape)*/
@media screen and (orientation: landscape)
{
    .card-big-left-up
    {
        background-size: cover;
        position: relative;
        display: block;
        float: left;
        width: 100%;
        height: 50%;
        /*background-color: red;*/        
        border-top-left-radius: 3%;
        border-top-right-radius: 3%;        
        padding: 0;
    }

    .card-big-right-down
    {
        display: block;
        float: left;
        width: 100%;
        height: 50%;
        /*background-color: blue;*/     
        border-bottom-left-radius: 3%;
        border-bottom-right-radius: 3%;
        padding: 0;
        overflow: auto;
    }   
    
    .card-big-right-down>*
    {
        font-size: 2.5vh;
        margin: 0 5% 1% 5%;
    }
    .card-big-right-down>*:first-child
    {
        font-size: 3vh;
        font-style: italic;
        text-align: center;
    }
    
    .card-big-title
    {
        position: absolute;
        /*margin-top: 4%;*/
        right: 0;
        bottom: 0;
        width: 80%;
        margin-left: 0%;
        height: 20%;
        background: linear-gradient(to right, white, #E9E9E9); 
        text-align: center;
        font-size: 6vh;
        border-top: 4px double #383838;
        border-bottom: 4px double #383838;        
    }
    .card-big-title-end-border
    {
        position: absolute;
        bottom: 0;
        left: 13%;
        border-radius: 50% 0 0 50%;
        border-left: 4px double #383838;
        border-top: 4px double #383838;
        border-bottom: 4px double #383838;
        height: 20%;    
        width: 8%;
        background-color: white;
    }
    .card-big-title>p
    {
        overflow: visible;
        position: relative;
        right: 8%;
    }
    
    .card-icon-row
    {
        height: 18%;
        margin-top: 1%;        
    }
    .card-icon-row-2
    {
        margin-top: 2.5%;
        height: 18%;
    }
    
    .card-icon
    {
        background-color: white;
        float: left;
        border: 1px solid #383838;
        width: 9.0vh;
        height: 9.0vh;
        border-radius: 50%;
        margin-left: 2%;
        overflow: hidden;
    }
    .card-icon>img
    {
        width: 100%;
        height: 100%;        
    }    
}

/*Trading-card styling covering the entire billboard element (portrait)*/
@media screen and (orientation: portrait)
{
    .card-big-left-up
    {
        background-size: cover;
        position: relative;
        display: block;
        float: left;
        width: 100%;
        height: 45%;
        /*background-color: red;*/
        border-top-left-radius: 3%;
        border-top-right-radius: 3%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        /*padding: 0;*/
    }

    .card-big-right-down
    {
        position: relative;
        display: block;
        float: left;
        width: 100%;
        height: 55%;
        /*background-color: blue;*/
        border-top: 4px double #383838;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3%;
        border-bottom-left-radius: 3%;
        overflow: auto;
        /*padding: 0;*/
    }
    
    .card-big-right-down>*
    {
        font-size: 2.5vh;
        margin: 0 5% 1% 5%;
    }
    .card-big-right-down>*:first-child
    {
        font-size: 3vh;
        font-style: italic;
        text-align: center;
    }
    
    .card-big-title
    {
        position: absolute;
        right: 0;        
        top: 4%;
        width: 40%;
        height: 15%;
        background: linear-gradient(to right, white, #E9E9E9);
        border-top: 4px double #383838;
        border-bottom: 4px double #383838;
        text-align: right;
        font-size: 3.7vh;
        overflow: visible;
    }
    .card-big-title-end-border
    {
        position: absolute;
        top: 4%;
        left: 53%;
        border-radius: 50% 0 0 50%;
        border-left: 4px double #383838;
        border-top: 4px double #383838;
        border-bottom: 4px double #383838;
        height: 15%;    
        width: 8%;
        background-color: white;
        overflow: visible;
    }
    .card-big-title>p
    {
        position: relative;
        right: 8%;
    }
    
    .card-icon-row
    {
        position: absolute;
        height: 18%;
        width: 100%;
        top: 4%;        
    }
    .card-icon-row-2
    {
        position: absolute;
        top: 24%;
        height: 18%;
        width: 100%;
    }
    
    .card-icon
    {
        background-color: white;
        float: left;
        border: 1px solid #C7C7C7;
        width: 9.0vw;
        height: 9.0vw;
        border-radius: 50%;
        margin-left: 3%;
        overflow: hidden;
    }
    .card-icon>img
    {
        width: 100%;
        height: 100%;
        
    }    
}

.card-icon
{
    transition: transform .5s;
}
.card-icon:hover
{
    cursor: pointer;
    transform: scale(1.2, 1.2);
}
.card-icon-selected
{
    transform: scale(1.2, 1.2);
    border: 4px solid #7B7BFF;  
    box-sizing: border-box; 
}
