<div class="bottom"
     rat-active-nav="About"
     rat-active-title="ABOUT ME">
    <div class="main-body">
        <h4>Background</h4>
        <p>
            I am web application developer located in Southern California.  While my time in full-stack web development has been only a few months now, my career in developing in the front-end for web applications has been nearly two years, starting with a large scale videogame companion application for Windows Phone and WinRT and up to the present: web applications and websites on desktop and mobile browsers.
        </p>
        <p>
            Prior to that I was a mobile game programmer for over six years, porting and developing games for various mobile platforms, including J2ME, BlackBerry OS, Windows Phone 7, iOS, and Kindle.
        </p>
        <br />

        <div>
            <h4>Transitioning to Full-Stack Web Development</h4>
            <p>
                To jump start my web development career, I completed a three month, full-immersion bootcamp at <a href="http://learningfuze.com" target="_blank">LearningFuze</a> in Irvine, California.
            </p>
            <br />
        </div>
        <h4>Type of Job I'm Seeking</h4>
        <p>
            As a web developer, I'd love to get a job that encompasses the entire stack so that I get to wear many hats.
        </p>

    </div>
</div>
