<div class="bottom"
     rat-active-nav="About"
     rat-active-title="ABOUT ME">
    <div class="main-body">
        <h4>Background</h4>
        <p>
            I was a mobile game and application developer and programmer.  I've had years of experience developing, maintaining, and porting source code for games for multiple mobile platforms.  I also have some experience in game development with the Unity 3D game engine.
        </p>
        <p>
            I have a Bachelor of Science degree in Computer Engineering at Purdue University.
        </p>

        <h4>Attending Full-Stack Web Development Bootcamp</h4>
        <p>
            I decided to take the full-immersion bootcamp course at LearningFuze for a variety of reasons.
        </p>

        <h4>Type of Job I'm Seeking</h4>
        <p>
            As a web developer, I'd love to get a job that encompasses the entire stack so that I get to wear many hats.
        </p>

    </div>
</div>
