<div id="bottom"
     rat-active-nav="ContactMe"
     rat-active-title="CONTACT ME">
    <div id="contact-me">
        <ul id="contact-me-list">
            <li><a href="https://github.com/ryanthtra" target="_blank"><img class="icon" src="images/github-icon.png" alt=""></a></li>
            <li><a href="mailto:rtransfig@gmail.com"><img class="icon" src="images/gmail-pixel-icon.png" alt=""></a></li>
            <li><a href="https://www.linkedin.com/in/ryananthonytransfiguracion" target="_blank"><img class="icon" src="images/linkedin-icon.png"
                                                                                                        alt=""></a></li>
        </ul>
        <form action="http://learningfuze.com/echo.php" method="post">
            <h3>Contact details</h3>
            <label>Name:</label><br />
            <input type="text" name="name" /><br />

            <label>Email:</label><br />
            <input type="text" name="email" /><br />


            <label>Message:</label><br />
            <textarea name="message" id="" cols="30" rows="10"></textarea><br />

            <input type="submit" value="Submit" />
        </form>
    </div>
</div>