<div id="bottom"
     rat-active-nav="Skills"
     rat-active-title="SKILLS">
    <div class="main-body">
        <p>These are skills I hope to achieve by the end of the full-immersion course:</p>
        <ol id="skills-list">
            <li>Technical Skills
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>MySQL</li>
                    <li>PHP</li>
                </ul>
            </li>
        </ol>
    </div>
</div>